<div id="<%= dom_id collect_proposal %>">
  <p>
    <strong>Item:</strong>
    <%= collect_proposal.item_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= collect_proposal.user_id %>
  </p>

  <p>
    <strong>Collection date:</strong>
    <%= collect_proposal.collection_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= collect_proposal.status %>
  </p>

</div>
