<%= form_with(model: collect_proposal) do |form| %>
  <% if collect_proposal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(collect_proposal.errors.count, "error") %> prohibited this collect_proposal from being saved:</h2>

      <ul>
        <% collect_proposal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :item_id, style: "display: block" %>
    <%= form.hidden_field :item_id, value: params[:item_id] %>
  </div>

  <div>
    <%= form.label :collection_date, style: "display: block" %>
    <%= form.datetime_field :collection_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
